@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --btn-background: 200 10% 61%;
      --btn-background-hover: 200 10% 89%;
      --foreground: 200 50% 3%;
   }

   @media (prefers-color-scheme: dark) {
      :root {
         --btn-background: 200 10% 9%;
         --btn-background-hover: 200 10% 12%;
         --foreground: 200 20% 96%;
      }
   }
}
@layer base {
   body {
      color: black;
   }
   input {
      color: black;
   }
   @media (prefers-color-scheme: dark) {
      :root,
      body {
         background: theme(colors.gray.dark);
         color: black;
      }
      input {
         color: black;
      }
   }
}

@layer base {
   * {
      @apply border-foreground/20;
   }
}
.animate-pulse {
   animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
   0%,
   100% {
      opacity: 1;
   }
   50% {
      opacity: 0.5;
   }
}

.ReactModalPortal .ReactModal__Overlay {
   @apply !bg-black !bg-opacity-80 h-full w-full flex items-center justify-center;
}

@keyframes show {
   from {
      opacity: 0;
      display: none;
   }
   to {
      opacity: 100%;
      display: block;
   }
}

@keyframes hide {
   from {
      opacity: 100%;
      display: block;
   }
   to {
      opacity: 0;
      display: none;
   }
}

@keyframes party {
   0% {
      background-color: transparent;
   }
   5% {
      background-color: blue;
   }
   20% {
      background-color: transparent;
   }
   25% {
      background-color: orangered;
   }
   40% {
      background-color: transparent;
   }
   45% {
      background-color: green;
   }
   60% {
      background-color: transparent;
   }
   65% {
      background-color: purple;
   }
   80% {
      background-color: transparent;
   }
   85% {
      background-color: gold;
   }
   100% {
      background-color: transparent;
   }
}

@keyframes animateIn {
   from {
      opacity: 0;
      transform: translateY(10px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
.draft-board {
   height: calc(100dvh - 57px);
   max-height: calc(100dvh - 57px);
}
table tr td,
table tr th {
   @apply p-1;
}
table tr td {
   @apply text-black dark:text-white;
}
table tr:nth-of-type(even):not(.skeleton) {
   @apply bg-paper-primary dark:bg-gray-primary;
}
@media screen and (min-width: theme(screens.md)) {
   ::-webkit-scrollbar {
      width: 10px;
   }
   /* Track */
   ::-webkit-scrollbar-track {
      background: white;
   }

   /* Handle */
   ::-webkit-scrollbar-thumb {
      background: #414345;
      border-radius: 5px;
   }

   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
      background: #505050;
   }

   @media (prefers-color-scheme: dark) {
      /* Track */
      ::-webkit-scrollbar-track {
         background: theme(colors.gray.dark);
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
         background: theme(colors.gray.light);
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
         background: theme(colors.gray.scrollhover);
      }
   }
}
