@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --btn-background: 200 10% 91%;
      --btn-background-hover: 200 10% 89%;
      --foreground: 200 50% 3%;
   }

   @media (prefers-color-scheme: dark) {
      :root {
         --btn-background: 200 10% 9%;
         --btn-background-hover: 200 10% 12%;
         --foreground: 200 20% 96%;
      }
   }
}
@layer base {
   body {
      color: black;
   }
   @media (prefers-color-scheme: dark) {
      :root,
      body {
         background: theme(colors.gray.dark);
      }
      body {
         color: white;
      }
      input {
         color: black;
      }
   }
}

@layer base {
   * {
      @apply border-foreground/20;
   }
}

.animate-in {
   animation: animateIn 0.3s ease 0.15s both;
}

.ReactModalPortal .ReactModal__Overlay {
   @apply !bg-black !bg-opacity-80 h-full w-full flex items-center justify-center;
}

@keyframes animateIn {
   from {
      opacity: 0;
      transform: translateY(10px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

.mobile-tabs {
   max-height: calc(100vh - 74px - 10vh);
   overflow-y: scroll;
}
.mobile-tabs.featured-player-visible {
   max-height: calc(100vh - 74px - 10vh - 153px);
   overflow-y: scroll;
}

table tr td,
table tr th {
   @apply p-1;
}
table tr:nth-of-type(even) {
   @apply bg-gray-300 dark:bg-gray-primary;
}

@media screen and (min-width: theme(screens.md)) {
   /* Track */
   ::-webkit-scrollbar-track {
      background: white;
   }

   /* Handle */
   ::-webkit-scrollbar-thumb {
      background: #414345;
   }

   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
      background: #505050;
   }

   @media (prefers-color-scheme: dark) {
      ::-webkit-scrollbar {
         width: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
         background: theme(colors.gray.dark);
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
         background: theme(colors.gray.light);
         border-radius: 5px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
         background: theme(colors.gray.scrollhover);
      }
   }
}
