.nav-active {
   position: relative;
}
.nav-inactive svg {
   @apply !stroke-white;
}
.nav-active svg {
   @apply !fill-white !stroke-paper-primary;
}

@screen lg {
   .nav-active::after {
      content: '';
      position: absolute;
      width: 92%;
      height: 4px;
      left: 4%;
      bottom: 3px;
      background-color: white;
      border-radius: 6px;
   }
   .tabpanes {
      height: calc(100% - 50px);
   }
}
